.resume-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-item .resume-amount {
  width: 9rem;
}

.resume-item .resume-concept {
  width: 100%;
  text-align: left;
}

.resume-item .resume-date {
  width: 9rem;
  font-size: .9rem;
  font-style: italic;
  margin-right: .5rem;
  text-align: right;
}