* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  min-height: 100vh;
  color: #f7f7f7;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

h5 {
  font-size: 1rem;
  font-weight: 500;
}

form {
  width: 100%;
}

li {
  list-style: none;
}
